.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.addTask {
  margin-bottom: 20px;
}

.inputTask {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 50%;
}

.inputTask:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.addTask button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4681f4;
  color: #fff;
  cursor: pointer;
}

.addTask button:hover {
  background-color: #28488a;
}

.list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

td button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

td button:first-child{
  background-color:#cc0000;
}

td button:last-child{
  background-color: #33b249;
}

td button:not(:first-child):not(:last-child) {
  background-color: #ffbd03;
}

td button:first-child:hover {
  background-color: #8b0000;
}

td button:last-child:hover {
  background-color: #217a30;
}

td button:not(:first-child):not(:last-child):hover {
  background-color: #a77b02;
}

.DeleteIcon {
  font-size: 18px;
  color: #fff;
}

